<% @nba_games_with_dates.each do |game| %>
  <h3><%= game[:name] %></h3>
  <ul>
    <li><%= game[:date] %></li>
    <li>
      Venue:
      <ul>
        <li>Name: <%= game[:venue][:name] %></li>
        <li>Lat/Long: <%= game[:venue][:lat] %>/<%= game[:venue][:long] %></li>
      </ul>
    </li>
    <li><%= game[:url] %></li>
  </ul>
<% end %>
